<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jisu.kotlindemoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".class04.Class04DbRestApiMainActivity"></activity>
        <activity android:name=".class04.Class04DbRoomRecyclerViewDetailActivity" />
        <activity android:name=".class04.Class04DbRoomRecyclerViewAddActivity" />
        <activity android:name=".class04.Class04DbRestApiSignUpActivity" />
        <activity android:name=".class04.Class04DbRestApiLoginActivity" />
        <activity android:name=".class04.Class04DbRoomRecyclerViewActivity" />
        <activity android:name=".class04.Class04Activity" />
        <activity android:name=".class03.Class03BaseballGameActivity" />
        <activity android:name=".class03.Class03LbStoreBookActivity" />
        <activity android:name=".class03.Class03LbStoreBookListViewDetailActivity" />
        <activity android:name=".class03.Class03LbFloatingActionButtonActivity" />
        <activity android:name=".class03.Class03LbGlideTedPermissionActivity" />
        <activity
            android:name=".class03.Class03LbPhotoViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".class03.Class03LbCircleImageViewActivity" />
        <activity android:name=".class03.Class03LbTabLayoutActivity" />
        <activity android:name=".class03.Class03Activity" />
        <activity android:name=".class02.Class02AndroidLifeCycleOtherActivity" />
        <activity android:name=".class02.Class02FragmentViewPagerActivity" />
        <activity android:name=".class02.Class02FragmentLayoutActivity" />
        <activity android:name=".class02.Class02AndroidLifeCycleActivity" />
        <activity android:name=".class02.Class02ListViewRoomDetailActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".class02.Class02RecyclerViewZickbangActivity" />
        <activity android:name=".class02.Class02ListViewZickbangActivity" />
        <activity android:name=".class02.Class02RecyclerViewActivity" />
        <activity android:name=".class02.Class02ListViewActivity" />
        <activity android:name=".class02.Class02Activity" />
        <activity android:name=".class01.Class01ChangeNicknameActivity" />
        <activity android:name=".class01.Class01LoginViewActivity" />
        <activity android:name=".class01.Class01RegisterResultActivity" />
        <activity android:name=".class01.Class01RegisterActivity" />
        <activity android:name=".class01.Class01Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>